<h1><%= @workout.date %></h1>
<h3>Notes:</h3>
<p><%= @workout.notes %></p>
<form action="/workouts/<%= @workout.id %>/edit" method="get">
  <input type="submit" value="Edit Notes">
</form>
<br></br>

<% if current_workout.exercises.exists? %>
  <h3>Exercises:</h3>

  <% current_workout.exercises.each do |exercise| %>
  <% binding.pry %>
  <h4><%= exercise.name %></h4>
    <% if exercise.category == 'cardio' %>
      <p>Intensity: <%= exercise.intensity %></p>
      <p>Minutes Performed: <%= exercise.minutes %></p>
    <% elsif exercise.category == 'resistance' %>
      <p>Sets: <%= exercise.sets %></p>
      <p>Reps:<%= exercise.reps %></p>
      <p>Weight:<%= exercise.weight %></p>
    <% end %>
    <form style="display:inline" action="/exercises/:id/edit" method="post">
      <input type="submit" value="Edit">
    </form>
    <form style="display:inline" action="/exercises/:id/delete" method="post">
      <input type="submit" value="Delete">
    </form>
  <br></br>
  <% end %>
<% end %>
<br></br>
<form style="display:inline" action="/exercises/cardio/add" method="get">
  <input type="submit" value="Add Cardio Exercise">
</form>
<form style="display:inline" action="/exercises/resistance/add" method="get">
  <input type="submit" value="Add Resistance Exercise">
</form>
<form style="display:inline" action="/workouts/<%= @workout.id %>/delete" method="post">
  <input type="submit" value="Delete Workout">
</form>
